.standings {
  &-competition-name {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  &-title {
    color: rgb(230, 115, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
  }
  &-tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
