body {
  margin: 0;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}

button {
  cursor: pointer;
}

.main {
  &-container {
    margin-bottom: 30px;
  }
  &-section {
    margin-top: 20px;
    &_title {
      color: grey;
      font-family: Arial;
      font-size: 20px;
      margin: 60px 20px 20px;
      text-align: center;
    }
  }
  &-slider {
    &_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
    }
  }
  &-button {
    &_container {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &_button {
      align-items: center;
      background-color: #FDB813;
      border-radius: 3px;
      color: white;
      display: flex;
      font-family: Arial;
      font-size: 25px;
      font-weight: 700;
      height: 60px;
      justify-content: center;
      margin: 40px 0;
      width: 250px;
    }
  }
}
