body {
  margin: 0;
  background-color: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}

button {
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.cc_background_home_km0 {
  background: url('./images/hero.jpg') repeat-x scroll center top transparent;
}

.row {
  margin-top: 20px;
}

#hero {
  width: 100%;
  padding: 60px 0;
}

#hero .buscador {
  margin: 60px auto 0px auto;
}

.titleWeb {
  font-family: Arial;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 3px #333;
}

.titleWeb h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: bold;
}

.titleWeb p {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
}

.buscador {
  width: 100%;
  max-width: 840px;
}

.buscador form { 
  display: flex;
  justify-content: center;
}

.buscador form input[type="text"] {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-right: 5px;
  background-color: #fff;
  border: none;
  color: #333333;
  font-size: 16px;
  width: 60%;
  height: 40px;
  outline: none;
  padding: 0 10px;
}

.buscador form .buscadorBoton {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #d96621;
  background-color: #d96621;
  margin: 0;
  padding: 0;
  font-size: 20px;
  display: block;
  width: 100%;
  max-width: 220px;
  height: 40px;
  color: #fff;
  text-shadow: 0px 1px 3px #333333;
}

.cc_section_title {
  width: 100%;
  padding-bottom: 20px;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: Arial;
}

.cc_section_title .titulo {
  margin: 0;
  color: #333333;
  font-size: 30px;
}

.cc_section_title p {
  margin: 10px 0 0 0;
  padding: 0px;
  font-size: 14px;
  color: #999999;
}

#carCard {
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 0 20px 10px 0;
  width: 300px;
  position: relative;
}

#carCard p {
  margin: 0;
}

#carCard .cc_card_photo {
  position: relative;
  height: 160px;
  overflow: hidden;
}

#carCard .cc_card_photo .cc_label {
  position: absolute;
  height: 17px;
  bottom: 0;
  right: 0;
  text-align: right;
  width: 100%;
  margin: 0px;
}

#carCard .cc_card_photo .cc_label.cc_km0 {
  display: block;
  border-bottom: 4px solid #F9C21D;
  padding-right: 10px;
}

#carCard .cc_card_photo .cc_label.cc_km0 span {
  background-color: #F9C21D;
  padding: 1px 4px 0px 4px;
  color: #333333;
  text-transform: uppercase;
  font-size: 10px;
}

#carCard .cc_card_data {
  padding: 0px 10px;
  color: #333333;
}

#carCard .cc_card_data p.cc_precio {
  font-size: 30px;
}

#carCard .cc_card_data p {
  font-size: 12px;
  font-weight: bold;
}

#carCard .cc_card_data_tech {
  padding: 0px 10px;
}

#carCard .cc_card_data_tech p {
  display: block;
  width: 50%;
  float: left;
  line-height: 30px;
  font-size: 16px;
  color: #333333;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.cc_slider_enviroment {
  display: flex;
  justify-content: center;
}

.cc_pills_container {
  display: flex;
}