.footer {
  align-items: center;
  height: 110px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  &-title {
    color: #7d7f7d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    width: 250px;
    color: #7d7f7d;
  }
}
