.results {
  &-table {
    margin-bottom: 100px;
    &-first-team {
      justify-content: flex-start;
    }
    &-goles {
      display: flex;
    }
    &-second-team {
      justify-content: flex-end;
    }
    &-table-body {
      &-row {
        width: 300px;
        @media all and (min-width: 768px) {
          width: 460px;
        }
      }
      &-data {
        width: 40%;
      }
    }
  }
}
